<table class="table" *ngIf="!!data">
  <thead>
  <th>Id</th>
  <th>Name</th>
  <th>Trips</th>
  </thead>
  <tbody>
  <ng-container *ngIf="!!data.data">
  <tr *ngFor="let d of data.data">
    <td>{{d._id}}</td>
    <td>{{d.name}}</td>
    <td>{{d.trips}}</td>
  </tr>
  </ng-container>
  </tbody>
  <div>
  <button (click)="loadNextData('first')" [disabled]="pageNumber === 1 || isLoading">First</button>
  <button (click)="loadNextData('prev')" [disabled]="pageNumber === 1 || isLoading">Previous</button>
  <button (click)="loadNextData('next')" [disabled]="pageNumber === totalPassengers || isLoading">Next</button>
  <button (click)="loadNextData('last')" [disabled]="pageNumber === totalPassengers || isLoading">Last</button>
  </div>

</table>
